# Google dependencies: BigQuery, DLP
-r https://raw.githubusercontent.com/googleapis/python-dlp/main/samples/snippets/requirements.txt

# Presidio
spacy
presidio-analyzer

# Data science
pandas
db-dtypes
numpy
numba
scipy
matplotlib
statsmodels
