pandas==2.2.1
numpy==1.26.4
google-cloud-bigquery==3.20.1
spacy==3.7.4
spacy-fastlang==2.1.0
db-dtypes==1.2.0
dockerflow==2024.4.1

pytest==8.1.1
pytest-asyncio==0.23.6

# https://spacy.io/usage/models#models-download
# https://spacy.io/models/en#en_core_web_lg
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#egg=en_core_web_lg
