version: 2.1

orbs:
  gcp-gcr: circleci/gcp-gcr@0.12.0
  python: circleci/python@2.1.1

workflows:
  search-terms-sanitization:
    jobs:
      - gcp-gcr/build-and-push-image:
          context: merino-restricted-gcr
          docker-context: nightly-job/
          path: nightly-job/
          image: search-terms-sanitization
          requires:
            - python/test
          filters:
            branches:
              only: main
      - python/test:
          version: '3.10'
          app-dir: nightly-job/ 
